node_modules/
__pycache__/
*.pyc
.env
dist/
.venv/
venv/
Starji0/node_modules/
Starji0/dist/
Starji1/venv/
Starji1/__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
Starji1/__pycache__/
Starji1/*.pyc
Starji1/.env
Starji1/*.db
Starji1/*.sqlite3
Starji1/.env
**/.env